* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(172, 84, 172);
    background: linear-gradient(90deg, rgba(172, 84, 172, 1) 0%,
            rgba(205, 164, 154, 1) 50%, rgb(117, 83, 74) 100%);
    color: rgb(61, 15, 15);
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    font-family: "Bad Script", cursive;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    flex-direction: column;
    line-height: 40px;
    font-weight: 700;
    font-size: 20px;
}

ul {
    list-style: none;
}

a {
    color: #ffff;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
}

a:hover {
    color: rgb(61, 15, 15);
    ;
    transition: 0.3s all;
}


.contato {
    border: 2px solid rgb(61, 15, 15);
    padding: 10px;
    border-radius: 15px;
}

.contato:hover {
    background-color: rgb(61, 15, 15);
    color: #fff
}

li {
    display: inline-block;
    margin: 20px;
}

h1 {
    font-weight: 900;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 1.8em;
    line-height: 0.8em;
    margin-top: 10px;
}

span {
    color: rgb(132, 14, 201);
    font-family: 'poppis';
    font-weight: 700;
    font-size: 35px;

}

p {
    font-family: 'poppis';
    line-height: 1.3em;
    max-width: 400px;
    margin: 20px 0 10px 0;
    text-align: justify;
}

a :hover {

    color: rgb(132, 14, 201);
    transition: 0.3s all
}

img {
    width: 100%;
    max-width: 600px;
    margin-left: 150px;

}

.imagem-pulsante {
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
  }
  


form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

form [type="submit"]:hover {
    opacity: .5;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
}

input:focus {
    outline: none;
}